.sl-brandstyle-12ab3e12-0324-4e6f-aae1-e5bf60efcd7b .sl-font-style--title {
font-family: Gilmer Light;
font-weight: 400;
text-transform: uppercase;
}
.sl-brandstyle-12ab3e12-0324-4e6f-aae1-e5bf60efcd7b .sl-font-style--body {
font-family: Commons;
font-weight: 400;
}
.sl-brandstyle-12ab3e12-0324-4e6f-aae1-e5bf60efcd7b .sl-font-style--button {
font-family: Commons;
font-weight: 400;
}
.sl-brandstyle-12ab3e12-0324-4e6f-aae1-e5bf60efcd7b .sl-font-style--label {
font-family: Commons;
font-weight: 400;
text-transform: uppercase;
}
.sl-pattern-e9db91aa-5066-49a3-b711-a7147ae23efa {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #000000;
--sl-gv-btn-bg-color: #ffffff;
--sl-gv-btn-radius: 40px;
}
.sl-pattern-e9db91aa-5066-49a3-b711-a7147ae23efa .sl-font-style--title { color: #000000; }
.sl-pattern-e9db91aa-5066-49a3-b711-a7147ae23efa .sl-font-style--body { color: #000000; }
.sl-pattern-e9db91aa-5066-49a3-b711-a7147ae23efa .sl-font-style--button { color: #000000; }
.sl-pattern-e9db91aa-5066-49a3-b711-a7147ae23efa .sl-font-style--label { color: #000000; }
.sl-pattern-e9db91aa-5066-49a3-b711-a7147ae23efa .sl-button--brand-style {
color: #000000;
background-color: #ffffff;
}
.sl-pattern-e9db91aa-5066-49a3-b711-a7147ae23efa .sl-button--button-style { border: 2px solid; }
.sl-pattern-e9db91aa-5066-49a3-b711-a7147ae23efa .sl-button--border-radius { border-radius: 40px; }
.sl-pattern-2fbb74f1-8c29-4d52-8321-212eb4a5b8f9 {
background-color: #000000;
border-style: none;
--sl-gv-bg-color: #000000;
--sl-gv-btn-txt-color: #ffffff;
--sl-gv-btn-bg-color: #000000;
}
.sl-pattern-2fbb74f1-8c29-4d52-8321-212eb4a5b8f9 .sl-font-style--title { color: #ffffff; }
.sl-pattern-2fbb74f1-8c29-4d52-8321-212eb4a5b8f9 .sl-font-style--body { color: #ffffff; }
.sl-pattern-2fbb74f1-8c29-4d52-8321-212eb4a5b8f9 .sl-font-style--button { color: #ffffff; }
.sl-pattern-2fbb74f1-8c29-4d52-8321-212eb4a5b8f9 .sl-font-style--label { color: #ffffff; }
.sl-pattern-2fbb74f1-8c29-4d52-8321-212eb4a5b8f9 .sl-button--brand-style {
color: #ffffff;
background-color: #000000;
}
.sl-pattern-d626eb1a-e38a-4227-926e-e15c97115aca {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #000000;
--sl-gv-btn-bg-color: #ffffff;
}
.sl-pattern-d626eb1a-e38a-4227-926e-e15c97115aca .sl-font-style--title { color: #000000; }
.sl-pattern-d626eb1a-e38a-4227-926e-e15c97115aca .sl-font-style--body { color: #000000; }
.sl-pattern-d626eb1a-e38a-4227-926e-e15c97115aca .sl-font-style--button { color: #000000; }
.sl-pattern-d626eb1a-e38a-4227-926e-e15c97115aca .sl-font-style--label { color: #000000; }
.sl-pattern-d626eb1a-e38a-4227-926e-e15c97115aca .sl-button--brand-style {
color: #000000;
background-color: #ffffff;
}
.sl-pattern-031dc0eb-9ff5-4f3e-a43b-80141dba8e2a {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #000000;
--sl-gv-btn-bg-color: #ffffff;
--sl-gv-btn-radius: 40px;
}
.sl-pattern-031dc0eb-9ff5-4f3e-a43b-80141dba8e2a .sl-font-style--title { color: #0e1311; }
.sl-pattern-031dc0eb-9ff5-4f3e-a43b-80141dba8e2a .sl-font-style--body { color: #000000; }
.sl-pattern-031dc0eb-9ff5-4f3e-a43b-80141dba8e2a .sl-font-style--button { color: #000000; }
.sl-pattern-031dc0eb-9ff5-4f3e-a43b-80141dba8e2a .sl-font-style--label { color: #000000; }
.sl-pattern-031dc0eb-9ff5-4f3e-a43b-80141dba8e2a .sl-button--brand-style {
color: #000000;
background-color: #ffffff;
}
.sl-pattern-031dc0eb-9ff5-4f3e-a43b-80141dba8e2a .sl-button--border-radius { border-radius: 40px; }
.sl-pattern-50bf852e-7209-47ea-9068-63433d1b422d {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #ffffff;
--sl-gv-btn-bg-color: #0e1311;
--sl-gv-btn-radius: 8px;
}
.sl-pattern-50bf852e-7209-47ea-9068-63433d1b422d .sl-font-style--title { color: #0e1311; }
.sl-pattern-50bf852e-7209-47ea-9068-63433d1b422d .sl-font-style--body { color: #0e1311; }
.sl-pattern-50bf852e-7209-47ea-9068-63433d1b422d .sl-font-style--button { color: #ffffff; }
.sl-pattern-50bf852e-7209-47ea-9068-63433d1b422d .sl-font-style--label { color: #0e1311; }
.sl-pattern-50bf852e-7209-47ea-9068-63433d1b422d .sl-button--brand-style {
color: #ffffff;
background-color: #0e1311;
}
.sl-pattern-50bf852e-7209-47ea-9068-63433d1b422d .sl-button--button-style { border: 2px solid; }
.sl-pattern-50bf852e-7209-47ea-9068-63433d1b422d .sl-button--border-radius { border-radius: 8px; }
.sl-pattern-7a47b688-19ea-4ff4-9079-46209f56f078 {
background-color: #e6dcd3;
border-style: none;
--sl-gv-bg-color: #e6dcd3;
--sl-gv-btn-txt-color: #ffffff;
--sl-gv-btn-bg-color: #e6dcd3;
}
.sl-pattern-7a47b688-19ea-4ff4-9079-46209f56f078 .sl-font-style--title { color: #ffffff; }
.sl-pattern-7a47b688-19ea-4ff4-9079-46209f56f078 .sl-font-style--body { color: #ffffff; }
.sl-pattern-7a47b688-19ea-4ff4-9079-46209f56f078 .sl-font-style--button { color: #ffffff; }
.sl-pattern-7a47b688-19ea-4ff4-9079-46209f56f078 .sl-font-style--label { color: #ffffff; }
.sl-pattern-7a47b688-19ea-4ff4-9079-46209f56f078 .sl-button--brand-style {
color: #ffffff;
background-color: #e6dcd3;
}
.sl-pattern-6725723a-8483-4440-8c9a-6591f0859d77 {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #000000;
--sl-gv-btn-bg-color: #ffffff;
}
.sl-pattern-6725723a-8483-4440-8c9a-6591f0859d77 .sl-font-style--title { color: #000000; }
.sl-pattern-6725723a-8483-4440-8c9a-6591f0859d77 .sl-font-style--body { color: #000000; }
.sl-pattern-6725723a-8483-4440-8c9a-6591f0859d77 .sl-font-style--button { color: #000000; }
.sl-pattern-6725723a-8483-4440-8c9a-6591f0859d77 .sl-font-style--label { color: #000000; }
.sl-pattern-6725723a-8483-4440-8c9a-6591f0859d77 .sl-button--brand-style {
color: #000000;
background-color: #ffffff;
}
.sl-pattern-037845d0-f229-4b1d-98d3-c4a580a368f1 {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #000000;
--sl-gv-btn-bg-color: #ffffff;
}
.sl-pattern-037845d0-f229-4b1d-98d3-c4a580a368f1 .sl-font-style--title { color: #000000; }
.sl-pattern-037845d0-f229-4b1d-98d3-c4a580a368f1 .sl-font-style--body { color: #000000; }
.sl-pattern-037845d0-f229-4b1d-98d3-c4a580a368f1 .sl-font-style--button { color: #000000; }
.sl-pattern-037845d0-f229-4b1d-98d3-c4a580a368f1 .sl-font-style--label { color: #000000; }
.sl-pattern-037845d0-f229-4b1d-98d3-c4a580a368f1 .sl-button--brand-style {
color: #000000;
background-color: #ffffff;
}
.sl-pattern-030b88c9-c124-41c0-9f6b-c0a503753426 {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #000000;
--sl-gv-btn-bg-color: #ffffff;
--sl-gv-btn-radius: 40px;
}
.sl-pattern-030b88c9-c124-41c0-9f6b-c0a503753426 .sl-font-style--title { color: #ffffff; }
.sl-pattern-030b88c9-c124-41c0-9f6b-c0a503753426 .sl-font-style--body { color: #ffffff; }
.sl-pattern-030b88c9-c124-41c0-9f6b-c0a503753426 .sl-font-style--button { color: #000000; }
.sl-pattern-030b88c9-c124-41c0-9f6b-c0a503753426 .sl-font-style--label { color: #ffffff; }
.sl-pattern-030b88c9-c124-41c0-9f6b-c0a503753426 .sl-button--brand-style {
color: #000000;
background-color: #ffffff;
}
.sl-pattern-030b88c9-c124-41c0-9f6b-c0a503753426 .sl-button--border-radius { border-radius: 40px; }
